.btn-block {
  display: block;
  box-sizing: border-box;
  border: none;
  outline: none;
  background-color: inherit;

  @include text-second;

  font-weight: bold;
  color: $color-background;
  background-color: $color-main-second;
}
