.buyers-list {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px 0;

  @include list-reset;
  @include text-second;

  @media (min-width: $tablet-width) {
    display: flex;
    padding: 108px 0 24px;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

// Внутренние страницы закрыто на ширине мобилки
.main-nav--closed .buyers-list {
  display: none;
}

.main-nav--opened .buyers-list {
  display: none;

  @media (min-width: $tablet-width)  {
   display: flex;
   padding: 25px 0 22px 45px;

 }
}




.buyers-list__item {
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 28px;
    align-items: flex-end;
  }
}

.buyers-list__link {
  color: $color-main-second;
}

// Внутренние страницы закрыто на ширине мобилки
.main-nav--closed .buyers-list {
  display: none;

  @media (min-width: $tablet-width)  {
   display: flex;
   padding: 25px 0 22px 45px;
 }
}
