.buyers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include list-reset;
  @include text-second;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}


.buyers-list__item {
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 28px;
    align-items: flex-end;
  }
}

.buyers-list__link {
  color: $color-main-second;
}

.buyers-list--hidden {
  visibility: hidden;
}
