// Главная страница
.buyers-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include list-reset;
  @include text-second;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.buyers-list__item {
  padding-right: 25px;

  @media (min-width: $tablet-width) {
    padding-right: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
    padding-bottom: 27px;
  }
}

.buyers-list__link {
  color: $color-main-second;
}

// Внутренние страницы
.main-nav--page-inner {
  .buyers-list {
    visibility: hidden;

    @media (min-width: $tablet-width) {
      visibility: visible;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 5px;
    }
  }

  .buyers-list__item {
    @media (min-width: $desktop-width) {
      padding-bottom: 0;
      padding-right: 32px;
    }
  }
}
