.categories {
  position: relative;
  display: block;
  padding-bottom: 60px;
}

.categories__title {
  padding-bottom: 35px;
  margin: 0;

  @include text-title;
  font-size: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 52px;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;

    @include text-title;
  }
}

.categories__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @include list-reset;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    align-items: flex-start;
    padding: 0;
  }
}


.categories__link {
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 45px;
  }

    @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}
