.content-block {
  display: block;

  @include list-reset;

  @media (min-width: $tablet-width) {
    padding: 75px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0 0 200px;
  }
}

.content-block__slogan {
  @include list-reset;

  font-weight: 500;
  color: $text-secondary-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 27px;
  }
}

.content-block__title {
  @media (min-width: $tablet-width) {
    display: block;

    @include list-reset;
    @include text-title;
    padding-bottom: 0;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;

    @include text-title;
    line-height: 125%;
  }
}
