// / Почему такая величина? У тебя ширина контейнера 1170 на большом экране(или 1200 и паддинги с обоих сторон).
// Дальше открой файл с переменными.
.container {
  min-width: 290px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @include text-main;
  background-color: $color-background;
}

@media (min-width: $tablet-width) {
  .container {
    min: 678px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1170px;
    padding-left: 98px;
    padding-right: 98px;
  }
}
