// / Почему такая величина? У тебя ширина контейнера 1170 на большом экране(или 1200 и паддинги с обоих сторон).
// Дальше открой файл с переменными.
.container {
  margin: 0 auto;
  min-width: 320px;
  max-width: 1170px;
  padding: 0 15px;
  box-sizing: border-box;

  @include text-main;
  background-color: $color-background;
}

@media (min-width: $tablet-width) {
  .container {
    // width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1170px;
    padding: 0;
    // padding-left: 98px;
    // padding-right: 98px;
  }
}
