.content-block__slogan {
  @include list-reset;

  font-weight: 400;
  color: $text-secondary-color;
}

.content-block__title {
  display: block;
  padding-bottom: 26px;

  @include list-reset;
  @include text-title ;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0px;
  }
}
