// / Почему такая величина? У тебя ширина контейнера 1170 на большом экране(или 1200 и паддинги с обоих сторон).
// Дальше открой файл с переменными.
.container {
  margin: 0 auto;
  width: 290px;
  padding: 0 15px;
  // box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);

  @include text-main;
  background-color: $color-background;
}

@media (min-width: $tablet-width) {
  .container {
    width: 678px;
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1170px;
    padding: 0;
  }
}
