.content-list__slogan {
  font-weight: 400;
  color: $text-secondary-color;
}

.content-list__title {
  font-family: "Antonio","Arial", sans-serif;
  font-weight: 400;
  font-size: 98px;
  text-transform: uppercase;
}
