.filters {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding-bottom: 40px;
  z-index: 100;
  background-color: $color-background;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    width: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
  }
}

.filters__info {
  padding: 7px 15px 26px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.filters__nav {
  width: 320px;

  @media (min-width: $tablet-width) {
    width: 206px;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
  }
}

.filters__btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 290px;
  box-sizing: border-box;
  padding: 12px 15px 11px 15px;
  margin: 0 auto;
  border: 2px solid #151c22;
  align-items: center;
  background-color: inherit;
}

.filters__btn::after {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 18px;
  height: 10px;
  margin-top: 15px;
  margin-right: 15px;
  background-image: url("../img/on.jpg");
  background-repeat: no-repeat;
}

.filters__title {
  @include text-main;
  margin: 0;
}
