.form-group {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  border: 2px solid #151c22;

  @media (min-width: $tablet-width) {
    padding-bottom: 67px;
  }
}

.filters__nav--closed .form-group {
  display: none;
}

.filters__nav--opened .form-group {
  display: block;
  border: 0 none;
}

.form-group__filter {
  position: relative;
  padding-bottom: 25px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.form-group__btn-wrapp {
  display: flex;
  justify-content: space-between;
  padding: 19px 15px;
  box-sizing: border-box;
  align-items: center;
  font-size: 14px;
  line-height: auto;
  border-top: 2px solid $color-main;
  border-bottom: 2px solid $color-main;

  @media (min-width: $tablet-width) {
    position: absolute;
    display: block;
    bottom: 0;
    width: 206px;
    height: 67px;
    margin-bottom: -67px;
    padding: 0;

    @include text-second;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
  }
}

.form-group__btn {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: inherit;
  font-weight: 500;

  @media (min-width: $tablet-width) {
    height: 67px;
    margin: 0 auto;
    padding: 0;
  }
}

.filters__nav--opened .form-group__btn {
  display: block;
}

.filters__nav--closed .form-group__btn {
  display: none;
}

.form-group__title {
  margin: 0;

  @include text-main;
  font-weight: 700px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.form-group__list {
  @include list-reset;
  @include text-second;
  padding-bottom: 157px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.form-group__item {
  position: relative;
  box-sizing: border-box;
  padding: 13px 0;

  @include text-second;
  border-bottom: 2px solid $color-main;
}

.form-group__item__header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}

.form-group__item-title {
  display: flex;
  margin: 0;
  font-weight: 500;
}

.form-group__subbutton {
  width:  10px;
  height: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: inherit;
}

.form-group__subbutton::before,
.form-group__subbutton::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 15px;
  display: block;
  width: 11px;
  height: 11px;
  transform: rotate(-45deg);
}

.form-group__subbutton::before {
  margin-top: 10px;
  border-bottom: 2px solid #151c22;
  border-left: 2px solid #151c22;
}

.form-group__subbutton::after {
  margin-top: 15px;
  border-top: 2px solid #151c22;
  border-right: 2px solid #151c22;
}

.form-group__item--price-closed .form-group__subbutton {
  display: block;

  &::after {
    display: none;
  }
}

.form-group__item--price-closed .form-group__subbutton {
  display: block;

  &::before {
    display: none;
  }
}

.form-group__button-apply {
  width: 100%;
  padding: 23px 0;
  margin: 0 auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 24px 0;
    margin: 0;
  }
}
