.header {
  position: relative;
  margin: 0 auto;
  background-color: $color-main;
}

.header__nav {
  align-items: center;
}

.header__wrapp-total {
  position: relative;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin: 0 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 90px;
  }
}

.header__wrapp-top {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 290px;
  padding: 32px 0 0 0;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: 678px;
    padding: 83px 0 125px 0;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    padding: 50px 0;
    align-items: center;
  }
}

.header__wrapp-bottom {
  position: absolute;
  display: none;
  background-color: inherit;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    bottom: 0;
    right: 0;
    width: 100%;
    align-items: flex-end;
    padding-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    left: 50%;
    width: 1170px;
    margin-left: -585px;
    padding-bottom: 23px;
    align-items: center;
  }
}

.header__slider {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 10px;
    height: 27px;
    margin-left: 5px;
    border-left: 2px solid #151c22;
    z-index: 100;
  }
}

.header__slider::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -5px;
  display: block;
  width: 6px;
  height: 6px;
  border-bottom: 2px solid #151c22;
  border-left: 2px solid #151c22;
  transform: rotate(-45deg);
  z-index: 100;
}
