.header-inner {
  position: relative;
  background-color: $color-main;
  margin: 0 auto 15px;

  @media (min-width: $tablet-width) {
    margin: 0 auto 35px;
  }
}

.header-inner__nav {
  align-items: center;
}

.header-inner__wrapp-top {
  position: relative;
  display: none;
  flex-direction: column;
  box-sizing: border-box;
  width: 290px;
  padding: 0;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 678px;
    padding: 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1170px;
    align-items: center;
    box-sizing: border-box;
  }
}

.header__wrapp-top--hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.header-inner__wrapp-bottom {
  display: none;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
  }
}
