.hit-list {
  position: relative;
  display: block;
  padding-bottom: 62px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 70px;
  }
}

.hit-list__title {
  padding-bottom: 35px;
  margin: 0;

  @include text-title;
  font-size: 26px;

  @media (min-width: $tablet-width) {
    padding-bottom: 51px;
    font-size: 28px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 64px;

    @include text-title;
  }
}

.hit-list__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

  @include list-reset;
  padding-bottom: 7px;
}

.hit-list__link {
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}
