.index-main {
  display: block;
  padding: 56px 0 64px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 97px 0 107px;
  }

  @media (min-width: $desktop-width) {
    padding: 122px 0 135px;
  }
}

.index-main__season {
  margin: 0 auto;
}
