.logo {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 57px;
  padding-top: 16px;
  text-align: center;
  align-items: center;
  background-color: $color-background;

  @include text-logo;

  @media (min-width: $tablet-width) {
    padding: 0;
    height: 67px;
    padding-top: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 21px;
  }
}

// .logo--color {
// color: $color-background;
// }
