.main-nav {
  position: relative;
  display: block;
  width: 320px;
  padding-top: 57px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 67px 45px 0 45px;
  }

  @media (min-width: $desktop-width) {
    z-index: 1000;
    width: 1170px;
    padding: 67px 0 0 0;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 15px;
  margin-top: 26px;
  width: 20px;
  height: 20px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: inherit;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #151c22;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle::before {
  width: 20px;
  box-shadow: 0 5px 0 0 #151c22, 0 10px 0 0 #151c22;
}

.main-nav--opened .main-nav__toggle::before {
  width: 23px;
  margin-top: 10px;
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle::after {
  width: 23px;
  margin-top: 10px;
  transform: rotate(-45deg);
  box-shadow: 0 none;
}
