.main-nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  padding-top: 90px;

  @media (min-width: $tablet-width) {
    height: 67px;
    padding-top: 108px;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
    display: flex;
    align-items: flex-start;
  }
}

.main-nav--page-inner {
  padding-top: 0;

  @media (min-width: $tablet-width) {
    padding-top: 108px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 113px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 26px;
  margin-left: 0;
  width: 20px;
  height: 10px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #151c22;
  box-shadow: 0 4px 0 0 #151c22, 0 8px 0 0 #151c22;
}

// / В примере вид не изадан. Почему -то перестали работать ссылки на первой странице
// .main-nav--closed .main-nav__toggle::after {
// }
