.price {
  box-sizing: border-box;
  padding: 0;
  bottom: 0;
  width: 290px;

  @media (min-width: $tablet-width) {
    width: 176px;
  }
}

.form-group__item--closed .price {
  display: block;
}

.form-group__item--opened .price {
  display: block;
}

.price__range {
  width: 290px;
  height: 2px;
  color: $color-main;
  outline: none;

  @media (min-width: $tablet-width) {
    width: 176px;
  }
}

.price__values {
  display: flex;
  justify-content: space-between;
}

.price__data-min,
.price__data-max {
  position: relative;
  width: 50%;
}

.price__data-max {
  padding-left: 100px;

  @media (min-width: $tablet-width) {
    padding-left: 40px;
  }
}

.price__input {
  border: 0;
  outline: 0;
  background-color: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700px;
  padding: 0;
}

.price__label {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700px;
  padding: 0;
  background-color: green;
}
