.product-photo {
  position: relative;
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-top: 15px;
  }
}

.product-photo__list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 38px;

  @media (min-width: $tablet-width) {
    width: 324px;
    margin: 0 30px 0 45px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    margin: 0 130px 0 70px;
  }
}

.product-photo__img {
  display: none;
  width: 244px;
  height: 310px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 151px;
    height: 99px;
  }

  @media (min-width: $desktop-width) {
    width: 85px;
    height: 113px;
  }
}

.product-photo__img--basic {
  display: block;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 360px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
    height: 523px;
  }
}

.product-photo__item {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.product-photo__form {
  flex-grow: 1;
}
