.promo-photo {
  position: relative;
  order: -1;
  display: block;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 1;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 170px;
  }
}

.promo-photo::before,
.promo-photo::after {
  content: "";
  position: absolute;
  display: block;
  width: 109px;
  height: 80px;
  background: $color-main url("../img/diagonal.svg");
  z-index: 10;
}

.promo-photo::before {
  top: 0;
  left: 0;
  margin-top: -20px;
  margin-left: -20px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.promo-photo::after {
  bottom: 0;
  right: 0;
  margin-bottom: -20px;
  margin-right: -20px;
}

@media (min-width: $tablet-width) {
  .promo-photo::before,
  .promo-photo::after {
    width: 141px;
    height: 104px;
  }
}

@media (min-width: $tablet-width) {
  .promo-photo::before {
    margin-top: -30px;
    margin-left: -30px;
  }
}

@media (min-width: $tablet-width) {
  .promo-photo::after {
    margin-bottom: -30px;
    margin-right: -30px;
  }
}

@media (min-width: $desktop-width) {
  .promo-photo::before,
  .promo-photo::after {
    width: 232px;
    height: 176px;
  }
}

@media (min-width: $desktop-width) {
  .promo-photo::before {
    margin-top: -50px;
    margin-left: -50px;
  }
}

@media (min-width: $desktop-width) {
  .promo-photo::after {
    margin-bottom: -50px;
    margin-right: -50px;
  }
}

.promo-photo__img {
  position: relative;
  display: block;
  width: 202px;
  height: 249px;
  z-index: 1000;

  @media (min-width: $tablet-width) {
    width: 264px;
    height: 319px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
    height: 517px;
  }
}

.promo-photo__img--inner {
  position: relative;
  display: none;
  z-index: 1000;

  @media (min-width: $tablet-width) {
    display: block;
    width: 294px;
    height: 260px;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    width: 299px;
  }
}
