.promo-photo-inner {
  position: relative;
  display: none;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    order: 1;
    display: block;
    margin-right: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 270px;
  }
}

.promo-photo-inner::before,
.promo-photo-inner::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    display: block;
    z-index: 10;
    width: 178px;
    height: 135px;
    margin-left: -30px;
    background: $color-main url("../img/diagonal-inner-tablet@1x.jpg");
  }
}

@media (min-width: $tablet-width) {
  .promo-photo-inner::before {
    bottom: 0;
    left: 0;
    width: 178px;
    height: 135px;
    margin-left: -30px;
  }
}

@media (min-width: $tablet-width) {
  .promo-photo-inner::after {
    top: 0;
    right: 0;
    width: 232px;
    height: 176px;
    margin-right: -30px;
  }
}

.promo-photo-inner__img {
  display: none;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;
    z-index: 1000;
    width: 294px;
    height: 260px;
  }

  @media (min-width: $desktop-width) {
    width: 299px;
  }
}
