.result__list {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.result__img {
  @media (min-width: $tablet-width) {
    width: 206px;
    height: 279px;
  }

  @media (min-width: $desktop-width) {
    width: 243px;
    height: 270px;
  }
}

.result__item:nth-child(5) {
  @media (min-width: $desktop-width) {
    order: 1;
  }

  .result__img {
    width: 290px;
    height: 442px;

    @media (min-width: $tablet-width) {
      width: 442px;
      height: 672px;
    }

    @media (min-width: $desktop-width) {
      width: 552px;
      height: 670px;
    }
  }
}

.result__item:nth-child(6) {
  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    margin-bottom: 392px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.result__item:nth-child(8),
.result__item:nth-child(9) {
  @media (min-width: $desktop-width) {
    position: absolute;
    bottom: 0;
  }
}

.result__item:nth-child(9) {
  @media (min-width: $desktop-width) {
    margin-left: 300px;
  }
}
