// 1 страница
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;

  @include list-reset;
  @include text-second;

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.search__item {
  padding-left: 25px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .search__item:nth-child(2) {
    order: -1;
  }
}

.search__button {
  border: 0 none;
  outline: none;
  background-color: inherit;
  padding: 0;
}

.search__img {
  width: 16px;
  height: 16px;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

  .search__item {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
      padding-bottom: 0;
    }

    @media (min-width: $tablet-width) {
      order: 1;
    }
  }
