.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;

  @include list-reset;
  @include text-second;

  @media (min-width: $desktop-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.search__item {
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 35px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .search__item:nth-child(2) {
    order: 1;
  }
}

.search__button {
  border: none;
  outline: none;
  background-color: inherit;
}

.main-nav--page-inner {
  .search {
    @media (min-width: $desktop-width) {
      flex-direction: row;
      padding-bottom: 0;
    }
  }

  .search__item {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
      padding-bottom: 0;
    }
  }
}
