.season-banner {
  position: relative;
  display: block;
  margin: 0 auto;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    height: 287px;
    padding: 45px 45px 95px;
  }

  @media (min-width: $desktop-width) {
    height: 370px;
    width: 1170px;
    padding: 0 97px 122px;
  }
}

.season-banner__wrapp-content {
  padding: 15px 15px 0 14px;
  box-sizing: border-box;
  background: repeating-linear-gradient(-45deg, #555555 0, #555555 1px, transparent 1px, transparent 15px);
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    width: 324px;
    padding: 20px 20px 20px 0;
    background: repeating-linear-gradient(-45deg, $color-main-second 0, $color-main-second 1px, transparent 1px, transparent 20px);
  }

  @media (min-width: $desktop-width) {
    width: 470px;
    padding: 31px 70px 31px 0;
  }
}

.season-banner__content {
  height: 211px;
  padding: 39px 35px;
  margin: o auto;
  box-sizing: border-box;
  background: $color-main;
  text-align: center;

  @media (min-width: $tablet-width) {
    height: 247px;
    padding: 45px 0 0 50px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    height: 308px;
    padding: 65px 0 70px 70px;
  }
}

.season-banner__slogan {
  margin: 0;
  font-weight: 400;

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    line-height: 21px;
  }
}

.season-banner__title {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 23px;

  @include text-title;
  font-size: 26px;

  @media (min-width: $tablet-width) {
    @include text-title;

    padding-bottom: 33px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 40px;
  }
}

.season-banner__btn {
  display: block;
  width: 148px;
  margin: 0 auto;
  padding: 19px 0 20px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    padding: 23px 0;
  }
}

.season-banner__picture {
  @media (min-width: $tablet-width) {
    order: -1;
  }
}

.season-banner__img {
  display: block;
  width: 320px;
  height: 226px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 287px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
    height: 370px;
  }
}


.season-banner__link {
  position: relative;
  display: block;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 45px;
  }
}
