.social {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .social {
    display: flex;
  }
}

.social__item {
  padding-bottom: 24px;
}

@media (min-width: $tablet-width) {
  .social__item {
    padding-bottom: 0;
    padding-left: 35px;
  }
}

.social__link {
  color: $color-main-second;
  font-size: 14px;
}
