.social {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include list-reset;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (min-width: $tablet-width) {
  .social__item {
    padding-left: 35px;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    padding-left: 0;
    padding-bottom: 25px;
  }
}

.social__link {
  color: $color-main-second;
  font-size: 14px;
}
