.social-wrapp {
  @include list-reset;
  justify-content: flex-start;
  display: block;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }
}

.social-wrapp__list {
  display: flex;
  flex-direction: row;

  @include list-reset;

  @media (min-width: $tablet-width) {
    width: 240px;
    padding-left: 60px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding-left: 75px;
  }
}

.social-wrapp__item {
  display: block;
  padding-right: 34px;
  vertical-align: middle;

  @media (min-width: $tablet-width) {
    padding-right: 38px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 28px;
  }
}

.social-wrapp__img {
  width: 21px;
  height: 20px;

  @media (min-width: $tablet-width) {
    width: 17px;
    height: 17px;
  }

  @media (min-width: $desktop-width) {
    width: 21px;
    height: 20px;
  }
}
