.social {
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include list-reset;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.social-wrapp {
  @include list-reset;
  justify-content: flex-start;
  padding-right: 33px;
}

@media (min-width: $tablet-width) {
  .social__item {
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-bottom: 25px;
  }
}

.social__link {
  color: $color-main-second;
  font-size: 14px;
}
