.view-all-link {
  position: relative;
  display: block;
  width: 70px;

  margin: 0 auto;

  @include text-second;
  text-align: center;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 80px;
    margin-right: 45px;

    @include text-main;
    font-weight: 500;
  }

  @media (min-width: $desktop-width) {
    font-weight: 500;
    margin-right: 0;
  }
}

.view-all-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 70px;
  margin-bottom: -4px;
  border: 1px solid $color-main-second;


  @media (min-width: $tablet-width) {
    width: 80px;
  }
}
