@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksans.woff2") format("woff2"), url("../fonts/worksans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("../fonts/worksansmedium.woff2") format("woff2"), url("../fonts/worksansmedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Work sans";
  src: url("../fonts/worksansbold.woff2") format("woff2"), url("../fonts/worksansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Work sans";
  src: url("../fonts/worksansextrabold.woff2") format("woff2"), url("../fonts/worksansextrabold.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Antonio";
  src: url("../fonts/antonioregular.woff2") format("woff2"), url("../fonts/antonioregular.woff") format("woff");
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
